.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

#nosotros{
    margin-top: 40px;
}

#equipos{
    margin: 40px 0 0 0;    
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: grey;
    margin-top: 40px;
    color: white;
}